<div class="text-center">
  <h1>Dados</h1>

  <hr/>

  <% if @punishment %>
  <div class="card" >
    <div class="card-body">
      <h1 class="card-text"><%= @punishment.name %></h1>
    </div>
  </div>
  <% else %>
    <div class="card" >
      <div class="card-body">
        <h1 class="card-text">Saca más de <%= @dice %> para poder continuar</h1>
      </div>
    </div>
  <% end %>

</div>