<div class="text-center">
  <h1>Trivia</h1>
  <h2><small>Resuelve la siguiente trivia para continuar</small></h2>

  <hr/>
  <div id="card-game">
  <blockquote class="blockquote">
    <h3><%= @trivia.title %></h3>
  </blockquote>
  <ul class="list-group trivia-options">
    <% @questions.each do |q| %>
      <li class="list-group-item <%= q.right? ? 'right' : '' %>"><%= q.question %></li>
    <% end %>
  </ul>

  </div>

  <div class="card text-white bg-danger" id="card-loose" >
    <div class="card-body">
      <h1 class="card-text">Incorrecto</h1>
      <% if @punishment %>
        <h4 class="card-text"><%= @punishment.name %></h4>
      <% end %>
    </div>
  </div>

  <div class="card text-white bg-success" id="card-win" >
    <div class="card-body">
      <h1 class="card-text">Correcto</h1>
      <h4 class="card-text">Avanza un casillero</h4>
    </div>
  </div>

</div>